/node_modules
/public/hot
/public/build
/public/storage
/storage/*.key
/bootstrap/cache
/vendor
/storage
/storage/logs
/storage/framework/views
.env
.env.backup
.env.production.local
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
.DS_Store
.idea
.vscode
*.swp
*.swo
.env.*.local
/composer-setup.php
/composer.phar